In [244]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [245]:
#Cargar desde un archivo .csv
data = pd.read_csv("Atenas, Grecia.csv")
data.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,10595,https://www.airbnb.com/rooms/10595,20240923040840,2024-09-23,city scrape,"3 bedrooms, 2 bathrooms, 2nd floor with elevator",The apartment is 3-bedroom apartment with 2-ba...,Ampelokipi district is nice multinational and ...,https://a0.muscache.com/pictures/hosting/Hosti...,37177,...,4.91,4.58,4.75,00002433180,t,7,7,0,0,0.33
1,10990,https://www.airbnb.com/rooms/10990,20240923040840,2024-09-23,city scrape,Athens Quality Apartments - Deluxe Apartment,Athens Quality Apartments - Deluxe apartment i...,Ampelokipi district is nice multinational and ...,https://a0.muscache.com/pictures/miso/Hosting-...,37177,...,4.90,4.80,4.75,00002433169,t,7,7,0,0,0.56
2,10993,https://www.airbnb.com/rooms/10993,20240923040840,2024-09-23,city scrape,Athens Quality Apartments - Studio,The Studio is an <br />-excellent located <br ...,Ampelokipi district is nice multinational and ...,https://a0.muscache.com/pictures/107309527/848...,37177,...,4.97,4.79,4.78,00002433010,t,7,7,0,0,0.73
3,10995,https://www.airbnb.com/rooms/10995,20240923040840,2024-09-23,city scrape,"AQA-No2 1-bedroom, smart tv, fiber connection,","AQA No2 is 1-bedroom apartment (47m2), on the ...",Ampelokipi district is nice multinational and ...,https://a0.muscache.com/pictures/hosting/Hosti...,37177,...,4.89,4.82,4.82,00002433153,t,7,7,0,0,0.21
4,27262,https://www.airbnb.com/rooms/27262,20240923040840,2024-09-23,city scrape,"AQA-No7, Great mattress, high speed internet",THE MATTRESS - KING KOIL - Camden Luxury 160x2...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,37177,...,4.96,4.75,4.71,00002433111,t,7,7,0,0,0.17

In [246]:
# Lista de columnas que deseas conservar
variables_a_conservar = [
    "id", "last_scraped", "source", "name", "description", "neighborhood_overview",
    "host_name", "host_since", "host_location", "host_about", "host_response_time",
    "host_response_rate", "host_acceptance_rate", "host_is_superhost", "host_listings_count",
    "host_total_listings_count", "host_verifications", "host_identity_verified",
    "neighbourhood_cleansed", "neighbourhood_cleansed", "latitude", "longitude",
    "property_type", "room_type", "accommodates", "bathrooms", "bathrooms_text", "bedrooms",
    "beds", "amenities", "price", "minimum_nights", "maximum_nights", "minimum_nights_avg_ntm",
    "availability_30", "availability_60", "availability_90", "availability_365",
    "number_of_reviews", "maximum_nights_avg_ntm", "number_of_reviews_l30d", "first_review",
    "license", "review_scores_rating", "review_scores_cleanliness", "review_scores_communication",
    "review_scores_location", "review_scores_value", "instant_bookable", "reviews_per_month"
]

In [247]:
# Crear un nuevo DataFrame con solo las columnas seleccionadas
df = data[variables_a_conservar]
df

,id,last_scraped,source,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,...,number_of_reviews_l30d,first_review,license,review_scores_rating,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,reviews_per_month
0,10595,2024-09-23,city scrape,"3 bedrooms, 2 bathrooms, 2nd floor with elevator",The apartment is 3-bedroom apartment with 2-ba...,Ampelokipi district is nice multinational and ...,Emmanouil,2009-09-08,"Athens, Greece",Athens Quality Apartments is a company started...,...,0,2011-05-20,00002433180,4.87,4.85,4.91,4.58,4.75,t,0.33
1,10990,2024-09-23,city scrape,Athens Quality Apartments - Deluxe Apartment,Athens Quality Apartments - Deluxe apartment i...,Ampelokipi district is nice multinational and ...,Emmanouil,2009-09-08,"Athens, Greece",Athens Quality Apartments is a company started...,...,0,2012-09-06,00002433169,4.83,4.85,4.90,4.80,4.75,t,0.56
2,10993,2024-09-23,city scrape,Athens Quality Apartments - Studio,The Studio is an <br />-excellent located <br ...,Ampelokipi district is nice multinational and ...,Emmanouil,2009-09-08,"Athens, Greece",Athens Quality Apartments is a company started...,...,0,2012-09-24,00002433010,4.85,4.93,4.97,4.79,4.78,t,0.73
3,10995,2024-09-23,city scrape,"AQA-No2 1-bedroom, smart tv, fiber connection,","AQA No2 is 1-bedroom apartment (47m2), on the ...",Ampelokipi district is nice multinational and ...,Emmanouil,2009-09-08,"Athens, Greece",Athens Quality Apartments is a company started...,...,0,2010-07-08,00002433153,4.83,4.91,4.89,4.82,4.82,t,0.21
4,27262,2024-09-23,city scrape,"AQA-No7, Great mattress, high speed internet",THE MATTRESS - KING KOIL - Camden Luxury 160x2...,NaN,Emmanouil,2009-09-08,"Athens, Greece",Athens Quality Apartments is a company started...,...,0,2012-09-21,00002433111,4.84,4.96,4.96,4.75,4.71,t,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14132,1249944747704827637,2024-09-23,city scrape,Vaios Art Residence,"Welcome to Vaios Art Residence, a spacious and...",Pedion Areos is a lively and culturally rich n...,Polikratos,2022-10-17,"Athens, Greece",NaN,...,0,NaN,00002503553,NaN,NaN,NaN,NaN,NaN,t,NaN
14133,1250012048760328092,2024-09-23,city scrape,"Studio apartment in trendy Koukaki, Athens","1 bedroom 5th floor apartment, in a peaceful s...",NaN,Frehiwot,2022-05-04,NaN,NaN,...,0,NaN,00002925861,NaN,NaN,NaN,NaN,NaN,f,NaN
14134,1250050091910224971,2024-09-23,city scrape,Charm Fashion,Enjoy a stylish home in this downtown home.,NaN,I Home,2018-09-14,"Athens, Greece",NaN,...,0,NaN,Exempt,NaN,NaN,NaN,NaN,NaN,t,NaN
14135,1250102024274955611,2024-09-23,city scrape,Central Athens Apartment,Cental and spacious apartment with high speed ...,The apartment is located in the neighborhood o...,Flo,2016-08-22,"Athens, Greece",Dear future guests!\nMy name is Flora. I am or...,...,0,NaN,00002886603,NaN,NaN,NaN,NaN,NaN,f,NaN
14136,1250198708572511328,2024-09-23,city scrape,Athens central apartment close to metro new & ...,"Cental, newly renovated and cozy appartment wi...",The apartment is located in the neighborhood o...,Flo,2016-08-22,"Athens, Greece",Dear future guests!\nMy name is Flora. I am or...,...,0,NaN,00002886619,NaN,NaN,NaN,NaN,NaN,f,NaN

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14137 entries, 0 to 14136
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           14137 non-null  int64
 1   last_scraped                 14137 non-null  object
 2   source                       14137 non-null  object
 3   name                         14137 non-null  object
 4   description                  13834 non-null  object
 5   neighborhood_overview        7758 non-null   object
 6   host_name                    14137 non-null  object
 7   host_since                   14137 non-null  object
 8   host_location                9885 non-null   object
 9   host_about                   7134 non-null   object
 10  host_response_time           12676 non-null  object
 11  host_response_rate           12676 non-null  object
 12  host_acceptance_rate         13426 non-null  object
 13  host_is_superhost            13212 non-null  object
 14  host_listings_count          14137 non-null  int64
 15  host_total_listings_count    14137 non-null  int64
 16  host_verifications           14137 non-null  object
 17  host_identity_verified       14137 non-null  object
 18  neighbourhood_cleansed       14137 non-null  object
 19  neighbourhood_cleansed       14137 non-null  object
 20  latitude                     14137 non-null  float64
 21  longitude                    14137 non-null  float64
 22  property_type                14137 non-null  object
 23  room_type                    14137 non-null  object
 24  accommodates                 14137 non-null  int64
 25  bathrooms                    13697 non-null  float64
 26  bathrooms_text               14118 non-null  object
 27  bedrooms                     14076 non-null  float64
 28  beds                         13681 non-null  float64
 29  amenities                    14137 non-null  object
 30  price                        13710 non-null  object
 31  minimum_nights               14137 non-null  int64
 32  maximum_nights               14137 non-null  int64
 33  minimum_nights_avg_ntm       14137 non-null  float64
 34  availability_30              14137 non-null  int64
 35  availability_60              14137 non-null  int64
 36  availability_90              14137 non-null  int64
 37  availability_365             14137 non-null  int64
 38  number_of_reviews            14137 non-null  int64
 39  maximum_nights_avg_ntm       14137 non-null  float64
 40  number_of_reviews_l30d       14137 non-null  int64
 41  first_review                 12279 non-null  object
 42  license                      13935 non-null  object
 43  review_scores_rating         12279 non-null  float64
 44  review_scores_cleanliness    12279 non-null  float64
 45  review_scores_communication  12279 non-null  float64
 46  review_scores_location       12279 non-null  float64
 47  review_scores_value          12279 non-null  float64
 48  instant_bookable             14137 non-null  object
 49  reviews_per_month            12279 non-null  float64
dtypes: float64(13), int64(12), object(25)
memory usage: 5.4+ MB

In [249]:
#Identificar valores nulos por columna
valores_nulos = df.isnull().sum()
valores_nulos

id                                0
last_scraped                      0
source                            0
name                              0
description                     303
neighborhood_overview          6379
host_name                         0
host_since                        0
host_location                  4252
host_about                     7003
host_response_time             1461
host_response_rate             1461
host_acceptance_rate            711
host_is_superhost               925
host_listings_count               0
host_total_listings_count         0
host_verifications                0
host_identity_verified            0
neighbourhood_cleansed            0
neighbourhood_cleansed            0
latitude                          0
longitude                         0
property_type                     0
room_type                         0
accommodates                      0
bathrooms                       440
bathrooms_text                   19
bedrooms                         61
beds                            456
amenities                         0
price                           427
minimum_nights                    0
maximum_nights                    0
minimum_nights_avg_ntm            0
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
maximum_nights_avg_ntm            0
number_of_reviews_l30d            0
first_review                   1858
license                         202
review_scores_rating           1858
review_scores_cleanliness      1858
review_scores_communication    1858
review_scores_location         1858
review_scores_value            1858
instant_bookable                  0
reviews_per_month              1858
dtype: int64

In [250]:
#Mostrar unicamente las variables con valores nulos
variables_con_nulos = valores_nulos[valores_nulos > 0]
variables_con_nulos

description                     303
neighborhood_overview          6379
host_location                  4252
host_about                     7003
host_response_time             1461
host_response_rate             1461
host_acceptance_rate            711
host_is_superhost               925
bathrooms                       440
bathrooms_text                   19
bedrooms                         61
beds                            456
price                           427
first_review                   1858
license                         202
review_scores_rating           1858
review_scores_cleanliness      1858
review_scores_communication    1858
review_scores_location         1858
review_scores_value            1858
reviews_per_month              1858
dtype: int64

**SustituciÃ³n de Valores Nulos**

In [251]:
#Copiar el dataframe Original
df2 = df.copy()

Variable 1 (Description): Esta variable se imputo con el mÃ©todo de susutituir por un string en concreto, pues asi podemos localizar cuales no tienen la descripciÃ³n.

In [252]:
df2["description"] = df2["description"].fillna("No disponible")

Variable 2 (neighborhood_overview): Esta variable se imputo con el mÃ©todo de sustituir por un string en concreto, pues no afecta a un analisis y asi localizaremos cuales no tienen este dato.

In [253]:
df2["neighborhood_overview"] = df2["neighborhood_overview"].fillna("No disponible")

Variable 3 (host_location): Esta variable se imputo con el mÃ©todo de susutituir con un string en concreto, esto debido a que no afecta al analisis y asi se identifican aquellos que no contienen la variable.

In [254]:
df2["host_location"] = df2["host_location"].fillna("No disponible")

Variable 4 (Host_about): Esta variable se imputo con el mÃ©todo de susutituir con un string en concreto, esto debido a que no afecta al analisis y asi se identifican aquellos que no contienen la variable.

In [255]:
df2["host_about"] = df2["host_about"].fillna("No disponible")

Variable 5 (host_response_time): Esta variable se imputo con el mÃ©todo de la moda, esto debido a que es de tipo objeto y es una categoria, por lo que requerimos rellenarlo asi para mantener una consistencia.

In [256]:
df2["host_response_time"] = df2["host_response_time"].fillna(df["host_response_time"].mode()[0])

Variable 6 (host_response_rate): Esta variable se imputo con el mÃ©todo de la mediana, pero para realizarlo, requerimos convertir la variable de tipo objeto a tipo numerico, para asi, poder utilizarla y obtener un valor mÃ¡s representativo.

In [257]:
# Convertir a porcentaje numÃ©rico
df_aux = df.copy()
df_aux['host_response_rate'] = df['host_response_rate'].astype(str).str.rstrip('%').astype('float') / 100.0

# Rellenar valores nulos con la mediana
df2['host_response_rate'] = df2['host_response_rate'].fillna(round(df_aux['host_response_rate'].median(),1))

Variable 7 (host_acceptance_rate): Esta variable se imputo con el mÃ©todo de la mediana, pero para realizarlo, requerimos convertir la variable de tipo objeto a tipo numerico, para asi, poder utilizarla y obtener un valor mÃ¡s representativo.

In [258]:
#Convertir a porcentaje numÃ©rico
df_aux['host_acceptance_rate'] = df['host_acceptance_rate'].astype(str).str.rstrip('%').astype('float') / 100.0

#Rellenar con la mediana
df2['host_acceptance_rate'] = df2['host_acceptance_rate'].fillna(round(df_aux['host_acceptance_rate'].median(),1))

Variable 8 (host_is_superhost): Esta variable se imputo con el mÃ©todo de sustituir con un string en concreto, esto debido a que al ser categorico booleano, se considera que si no tiene dicha variable, entonces se podrÃ¡ como falso.

In [259]:
df2["host_is_superhost"] = df2["host_is_superhost"].fillna("f")

Variable 9 (bathrooms): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que es el mÃ©todo mÃ¡s representativo y mÃ¡s robusto al sesgo.

In [260]:
df2["bathrooms"] = df2["bathrooms"].fillna(round(df["bathrooms"].median(),1))

Variable 10 (bathrooms_text): Esta variable se imputo con el mÃ©todo de sustituir con una string especifica, esto debido a que asi reflejamos la falta de informaciÃ³n sin afectar el anÃ¡lisis .

In [261]:
df2["bathrooms_text"] = df2["bathrooms_text"].fillna("No expecificado")

Variable 11 (bedrooms): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que es el mÃ©todo que mejor se adapta para el comportamiento de la variable y es mÃ¡s resisitente al sesgo.

In [262]:
df2["bedrooms"] = df2["bedrooms"].fillna(round(df["bedrooms"].median(),1))

Variable 12 (beds): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que es el mÃ©todo que mejor se adapta para el comportamiento de la variable y es mÃ¡s resisitente al sesgo.

In [263]:
df2["beds"] = df2["beds"].fillna(round(df["beds"].median(),1))

Variable 13 (price): Esta variable se imputo con el mÃ©todo de la mediana, pero para realizarlo, la variable se tuvo que convertir a una variable de tipo numerico y realizarlo mediante su "room_type".

In [264]:
# Convertir la variable "price" a numÃ©rico
df_aux['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

# Rellenar los valores nulos de "price" con la mediana basada en "room_type"
df2['price'] = df_aux.groupby('room_type')['price'].transform(lambda x: x.fillna(x.median()))

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\ahaci\AppData\Local\Temp\ipykernel_20020\2829494993.py:2: SyntaxWarning: invalid escape sequence '\$'
  df_aux['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

Variable 14 (first_review): Esta variable se imputo con el mÃ©todo de sustituir con un string en especifico, y se puso una fecha ficticia para identificar cuales fueron los valores faltantes.

In [265]:
df2["first_review"] = df2["first_review"].fillna("9999-01-01")

Variable 15 (review_scores_rating): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que rellena con un valor representativo y mÃ¡s robusto al sesgo.

In [266]:
df2["review_scores_rating"] = df2["review_scores_rating"].fillna(round(df["review_scores_rating"].median(),1))

Variable 16 (review_scores_cleanliness): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que se rellena con un puntaje numerico mÃ¡s representativo.

In [267]:
df2["review_scores_cleanliness"] = df2["review_scores_cleanliness"].fillna(round(df["review_scores_cleanliness"].median(),1))

Variable 17 (review_scores_communication): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que se rellena con un puntaje numerico mÃ¡s representativo.

In [268]:
df2["review_scores_communication"] = df2["review_scores_communication"].fillna(round(df["review_scores_communication"].median(),1))

Variable 18 (review_scores_location): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que se rellena con un puntaje numerico mÃ¡s representativo.

In [269]:
df2["review_scores_location"] = df2["review_scores_location"].fillna(round(df["review_scores_location"].median(),1))

Variable 19 (review_scores_value): Esta variable se imputo con el mÃ©todo de la mediana, esto debido a que se rellena con un puntaje numerico mÃ¡s representativo.

In [270]:
df2["review_scores_value"] = df2["review_scores_value"].fillna(round(df["review_scores_value"].median(),1))

Variable 20 (license): Esta variable se imputo con el mÃ©todo de sustituir con un string en especifico, esto debido a que asi podemos reflejar la falta del dato sin que se elimine.

In [271]:
df2["license"] = df2["license"].fillna("No disponible")

Variable 21 (reviews_per_month): Esta variable se imputo con el mÃ©todo de sustituir por un valor numerico fijo, esto debido a que, si no hay registro de las reseÃ±as, se tomarÃ¡ como si no hubiera reseÃ±as.

In [272]:
df2["reviews_per_month"] = df2["reviews_per_month"].fillna(0)

**VerificaciÃ³n de valores nulos**

In [273]:
#Identificar valores nulos por columna
valores_nulos=df2.isnull().sum()
valores_nulos

id                             0
last_scraped                   0
source                         0
name                           0
description                    0
neighborhood_overview          0
host_name                      0
host_since                     0
host_location                  0
host_about                     0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_listings_count            0
host_total_listings_count      0
host_verifications             0
host_identity_verified         0
neighbourhood_cleansed         0
neighbourhood_cleansed         0
latitude                       0
longitude                      0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                      0
bathrooms_text                 0
bedrooms                       0
beds                           0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
minimum_nights_avg_ntm         0
availability_30                0
availability_60                0
availability_90                0
availability_365               0
number_of_reviews              0
maximum_nights_avg_ntm         0
number_of_reviews_l30d         0
first_review                   0
license                        0
review_scores_rating           0
review_scores_cleanliness      0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
instant_bookable               0
reviews_per_month              0
dtype: int64

In [274]:
#Mostrar unicamente las variables con valores nulos
variables_con_nulos = valores_nulos[valores_nulos > 0]
variables_con_nulos

Series([], dtype: int64)

In [275]:
valores_nulos = df2.isnull().sum().sum()
valores_nulos

np.int64(0)

**Guardado del dataset limpio**

In [276]:
df2.to_csv("Atenas,Grecia_Limpio.csv")